.element__like-button_disabled {
    padding: 0;
    margin: auto 0;
    min-width: 22px;
    height: 19px;
    background-image: url("../../../../images/heart-button.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
}

.element__like-button_disabled:hover{
    opacity: .5;
}