.user__edit-button{
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    height: 24px;
    width: 24px;
    background-color: #000000;
    margin: auto 0;
}

.user__edit-pic{
    height: 10px;
    width: 10px;
    margin: auto;
}