.bottom-line{
    margin:41px 0 0;
    border-bottom: 1px solid #545454;
    opacity: .7;
    /*z-index: 1;*/
    max-width: 880px;
}

@media screen and (max-width: 950px){
    .bottom-line{
        max-width: 600px;
        margin: 33px 0 0 100px;
    }
}

@media screen and (max-width: 600px){
    .bottom-line{
        /*max-width: 320px;*/
        margin-left: 0;
    }
}