.bottom-line{
    margin:40px 0 0;
    border-bottom: 1px solid #545454;
    opacity: .7;
    max-width: 880px;
}

@media screen and (max-width: 950px){
    .bottom-line{
        width: 600px;
        margin: 33px auto 0;
    }
}

@media screen and (max-width: 600px){
    .bottom-line{
        width: 100%;
        margin: 31.6px 0 0;
    }
}